<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide text-blue-600 uppercase"
        >follow up</span
      ><p
        class="mt-8 text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-blue-950"
      >
        Changelog
      </p>
    </div>
    <ul class="flex flex-col mt-24">
      <li class="relative flex w-full flex-col sm:flex-row">
        <div class="flex w-full pb-4 sm:w-[200px] sm:pb-0">
          <p class="font-mono text-base font-medium tracking-tighter uppercase">
            <time class="sticky top-24" datetime="#">Oct 18, 2023</time
            >
          </p>
        </div><div class="relative hidden sm:flex sm:w-[150px]">
          <div
            class="sticky left-0 top-[102px] z-10 mt-1.5 h-1.5 w-1.5 rounded-full bg-blue-700"
          >
          </div><div class="absolute left-0.5 top-0.5 h-full w-0.5 bg-gray-300">
          </div>
        </div>
        <div class="w-full pb-16">
          <a href="/changelog/changelog-details">
            <div class="space-y-8">
              <img
                alt="#"
                loading="lazy"
                class="col-span-2 w-full bg-white rounded-md shadow-box shadow-gray-500/20 object-cover lg:rounded-lg"
                src="https://lexingtonthemes.com/navy.webp"
              />
              <div class="flex flex-col m">
                <h2
                  class="text-3xl font-semibold tracking-tighter text-blue-950"
                >
                  Introducing Alfrede's banking API
                </h2><span
                  class="mt-4  text-base text-gray-700 lg:text-base"
                  >Interact with the Alfrede's API using Disappp, Deoth Erone,
                  or any API client of your choice.</span
                >
                <div class="flex items-center gap-1.5 md:gap-2 mt-8">
                  <img
                    alt="#"
                    loading="lazy"
                    class="h-6 w-6 rounded-full border border-slate-6 object-cover"
                    src="/avatar2.png"
                    style="color: transparent;"
                  />
                  <div class="flex gap-1">
                    <span
                      class="font-mono text-base font-medium tracking-tighter uppercase"
                      >Jonny Pot</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
       <li class="relative flex w-full flex-col sm:flex-row">
        <div class="flex w-full pb-4 sm:w-[200px] sm:pb-0">
          <p class="font-mono text-base font-medium tracking-tighter uppercase">
            <time class="sticky top-24" datetime="#">Oct 12, 2023</time
            >
          </p>
        </div><div class="relative hidden sm:flex sm:w-[150px]">
          <div
            class="sticky left-0 top-[102px] z-10 mt-1.5 h-1.5 w-1.5 rounded-full bg-blue-700"
          >
          </div><div class="absolute left-0.5 top-0.5 h-full w-0.5 bg-gray-300">
          </div>
        </div>
        <div class="w-full pb-16">
          <a href="/changelog/changelog-details">
            <div class="space-y-8">
              <img
                alt="#"
                loading="lazy"
                class="col-span-2 w-full bg-white rounded-md shadow-box shadow-gray-500/20 object-cover lg:rounded-lg"
                src="https://lexingtonthemes.com/semplice.webp"
              />
              <div class="flex flex-col m">
                <h2
                  class="text-3xl font-semibold tracking-tighter text-blue-950"
                >
                  Introducing Alfrede's banking API
                </h2><span
                  class="mt-4  text-base text-gray-700 lg:text-base"
                  >Interact with the Alfrede's API using Disappp, Deoth Erone,
                  or any API client of your choice.</span
                ><div class="flex items-center gap-1.5 md:gap-2 mt-8">
                  <img
                    alt="#"
                    loading="lazy"
                    class="h-6 w-6 rounded-full border border-slate-6 object-cover"
                    src="/avatar1.png"
                    style="color: transparent;"
                  />
                  <div class="flex gap-1">
                    <span
                      class="font-mono text-base font-medium tracking-tighter uppercase"
                      >Michael Andreuzza</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
