<section class="bg-white">
  <div class="items-center w-full px-8 py-24 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div>
      <p class="mt-8 text-5xl font-medium tracking-tighter text-black">
        Lexington Themes starter
      </p>
      <p class="max-w-xl  mt-4 text-lg tracking-tight text-gray-600">
        If you could kick the person in the pants responsible for most of your
        trouble, you wouldn't sit for a month
      </p>
    </div>

  </div>
</section>
