
<section >
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32  lg:pb-0 max-w-screen-xl">
    <div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 items-center">
        <div>
          <span class=" text-blue-600 uppercase font-mono font-medium tracking-tight text-xs">
            Your next FinTech startup
          </span>
          <h1
            class="text-4xl mt-8 tracking-tighter font-semibold text-blue-950 md:text-5xl"
          >
            Innovating financial <span class="md:block ">solutions for tomorrow</span
            >
          </h1>
          <p class="text-base lg:text-base max-w-sm mt-4 text-gray-700 ">
            Revolutionizing the financial landscape with cutting-edge technology and
            expertise
          </p>
          <div class="items-center flex-wrap mt-10 gap-2 flex">
            <a
              href="#"
              class="rounded-full px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 h-10 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none"
              >Buy Seabreeze</a
            >
            <a
              href="/"
              class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-gray-500 hover:text-accent-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none"
              >See all pages</a
            >
          </div>


        </div>
        <div class="lg:col-span-2 rounded-xl bg-gray-200 shadow-box shadow-gray-500/30 overflow-hidden tilt-card "><img src="/dashboard.svg" alt=""></div>
      </div>

    </div>
  </div>

 </section>
