<section class="relative overflow-hidden">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl lg:pb-0">
    <div>
      <span class=" text-blue-600 uppercase font-mono font-medium tracking-tight text-xs">
        Your next FinTech startup
      </span>
      <h1
        class="text-4xl mt-8 tracking-tighter font-semibold text-blue-1000 md:text-6xl"
      >
        Innovating financial <span class="md:block ">solutions for tomorrow</span
        >
      </h1>
      <p class="text-base lg:text-base max-w-sm mt-4 text-gray-700 ">
        Revolutionizing the financial landscape with cutting-edge technology and
        expertise
      </p>
      <div class="items-center flex-wrap mt-10 gap-2 flex">
        <a
          href="#"
          class="rounded-full px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 h-10 focus:ring-2 focus:ring-black focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none"
          >Buy Seabreeze</a
        >
        <a
          href="/system/overview"
          class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-black focus:ring-offset-2 duration-200 ring-offset-gray-200 hover:shadow-none"
          >See all pages</a
        >
      </div>
      <div
        class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6 lg:-ml-6 opacity-40"
      >
        <img class="max-h-12" src="/brands/1.svg" alt="logo" />
        <img class="max-h-12" src="/brands/2.svg" alt="logo" />
        <img class="max-h-12" src="/brands/3.svg" alt="logo" />
        <img class="max-h-12" src="/brands/4.svg" alt="logo" />
        <img class="max-h-12" src="/brands/5.svg" alt="logo" />
        <img class="max-h-12" src="/brands/6.svg" alt="logo" />
      </div>
    </div>
  </div>
  <div class="max-w-screen-xl px-8 lg:px-0 -mr-14 ml-auto mt-6">
    <div class="rounded-2xl border border-blue-900/10 bg-blue-900/5 p-2">
      <div
        class="overflow-hidden rounded-lg   bg-white lg:h-[678px] shadow-box shadow-gray-300"
      >
        <div class="overflow-y-hidden lg:h-[678px]">
          <div class="lg:h-[1000px]">
            <img
              alt="#"
              src="/dashboard.svg"

            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-8 pb-12 mt-12 mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3 ">
      <div>
        <p class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter">
          Real-time financial analytics
        </p>
        <p class="text-sm mt-2 text-gray-700">
          This feature can include customizable charts, graphs, and financial
          dashboards that help users monitor their investments and expenses.
        </p>
      </div>
      <div>
        <p class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter">Secure digital wallet</p>
        <p class="text-sm mt-2 text-gray-700">
          Offer a secure and user-friendly digital wallet where users can manage
          their digital assets, cryptocurrencies, and traditional currencies.
        </p>
      </div>
      <div>
        <p class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter">
          Personalized financial advice
        </p>
        <p class="text-sm mt-2 text-gray-700">
          Implement a feature that offers personalized financial advice and
          investment recommendations based on the user's goals.
        </p>
      </div>
    </div>
  </div>
</section>
