<section class="relative overflow-hidden">
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32 lg:pb-0">
    <div>
      <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase ">
        Your next FinTech startup
      </span>
      <h1
        class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
      >
        Innovating financial <span class="md:block ">solutions for tomorrow</span
        >
      </h1>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base ">
        Revolutionizing the financial landscape with cutting-edge technology and
        expertise
      </p>
      <div class="flex flex-wrap items-center gap-2 mt-10">
        <a
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/95522c10-eed2-4620-84ab-5cbd34efc225"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >Buy Alfred</a
        >
        <a
          href="/"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >See all pages</a
        >
      </div>
      <div
        class="grid items-center max-w-lg grid-cols-4 mx-auto mt-10 gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6 lg:-ml-6 opacity-40"
      >
        <img class="max-h-12" src="/brands/1.svg" alt="logo" />
        <img class="max-h-12" src="/brands/2.svg" alt="logo" />
        <img class="max-h-12" src="/brands/3.svg" alt="logo" />
        <img class="max-h-12" src="/brands/4.svg" alt="logo" />
        <img class="max-h-12" src="/brands/5.svg" alt="logo" />
        <img class="max-h-12" src="/brands/6.svg" alt="logo" />
      </div>
    </div>
  </div>
  <div class="max-w-screen-xl px-8 mt-6 ml-auto lg:px-0 -mr-16 2xl:mx-auto 2xl:px-8">
    <div
        class="overflow-hidden bg-white rounded-3xl lg:h-full shadow-box shadow-gray-500/20"
      >
        <div class="overflow-y-hidden lg:h-auto">
          <div class="lg:h-auto">
            <img
              alt="#"
              src="/dashboard.svg"
            />
          </div>
        </div>
      </div>
  </div>
  <div class="max-w-screen-xl px-8 pb-12 mx-auto mt-12 md:px-12 lg:px-32">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3 ">
      <div>
        <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">
          Real-time financial analytics
        </p>
        <p class="mt-2 text-sm text-gray-700">
          This feature can include customizable charts, graphs, and financial
          dashboards that help users monitor their investments and expenses.
        </p>
      </div>
      <div >
        <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">Secure digital wallet</p>
        <p class="mt-2 text-sm text-gray-700">
          Offer a secure and user-friendly digital wallet where users can manage
          their digital assets, cryptocurrencies, and traditional currencies.
        </p>
      </div>
      <div>
        <p class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950">
          Personalized financial advice
        </p>
        <p class="mt-2 text-sm text-gray-700">
          Implement a feature that offers personalized financial advice and
          investment recommendations based on the user's goals.
        </p>
      </div>
    </div>
  </div>
</section>
