<section class="relative overflow-hidden border-b">
  <div class="max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        Your next FinTech startup
      </span>
      <h1
        class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
      >
        Innovating financial <span class="md:block">solutions for tomorrow</span
        >
      </h1>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:mx-auto lg:text-base">
        Revolutionizing the financial landscape with cutting-edge technology and
        expertise
      </p>
      <div class="flex flex-wrap items-center justify-center gap-2 mt-10">
        <a
          href="#"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >Buy Seabreeze</a
        >
        <a
          href="/"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-accent-500 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
          >See all pages</a
        >
      </div>
    </div>
    <img
      alt="#_"
      class="w-full mt-24 -mb-24 scale-150 lg:mt-48 lg:-mb-64 drop-shadow-box"
      src="/creditCards.svg"
    />

  </div>
</section>
