@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --astro-code-color-text: #fff;
  --astro-code-color-background: #161742;
  --astro-code-token-constant: #fafafa;
  --astro-code-token-string: cyan;
  --astro-code-token-comment: #70779d;
  --astro-code-token-keyword: #c1cffa;
  --astro-code-token-parameter: #ffffff;
  --astro-code-token-function: #6bdbb9;
  --astro-code-token-string-expression: #4d68ed;
  --astro-code-token-punctuation: #ffffff;
  --astro-code-token-link: #ffffff;
}