<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div
      class="w-full rounded-3xl shadow-box shadow-blue-500/50 bg-gradient-to-t from-blue-500 to-indigo-600 lg:px-20 lg:py-32 p-8 flex flex-col gap-12 text-center"
    >
      <div>
        <p
          class="text-4xl tracking-tighter font-semibold text-white md:text-6xl"
        >
          Take control of your<span class="block"> financial future today</span>
        </p>
        <p class="mt-4 text-white max-w-sm mx-auto">
          Explore our range of services and start your journey towards financial
          success.
        </p>
      </div>
      <div class="flex flex-col md:flex-row justify-center gap-3">
        <a
          href="#_"
          class="rounded-full px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-blue-950 shadow-button shadow-blue-950/50 h-10 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-white hover:shadow-none hover:bg-white hover:text-blue-950"
        >
          Get Started for free
        </a>
        <a
          href="/forms/contact"
          class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-gray-500 hover:text-accent-500 h-10 border-gray-300 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 duration-200 ring-offset-white hover:shadow-none hover:bg-white/5 hover:text-white"
        >
          Talk to sales
        </a>
      </div>
    </div>
  </div>
</section>
