<section>
    <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
      <div
        class="relative flex flex-col w-full gap-12 p-8 overflow-hidden rounded-3xl shadow-box shadow-gray-500/20 bg-gradient-to-t from-blue-500 to-indigo-600 lg:px-20 lg:py-32"
      >
        <div class="relative">
          <p
            class="text-4xl font-semibold tracking-tighter text-white "
          >
            Take control of your<span class="block"> financial future today</span>
          </p>
          <p class="max-w-sm mt-4 text-white">
            Explore our range of services and start your journey towards financial
            success.
          </p>
        </div>
        <div class="flex flex-col gap-3 md:flex-row">
          <a
            href="#_"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-blue-950 shadow-button shadow-blue-950/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-white hover:shadow-none hover:bg-white hover:text-blue-950"
          >
            Get Started for free
          </a>
          <a
            href="/forms/contact"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-accent-500 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-white hover:shadow-none hover:bg-white/5 hover:text-white"
          >
            Talk to sales
          </a>
        </div>
        <img class="-mb-24 lg:absolute lg:-top-12 shadow-box shadow-white/50 -right-12 lg:-right-48 rounded-3xl" src="/card2.svg" alt="">
        <img class="hidden lg:block lg:absolute shadow-box shadow-blue-950/50 -right-12 lg:-right-12 top-48 rounded-3xl" src="/card3.svg" alt="">
      </div>
    </div>
  </section>
