<section class="overflow-hidden border-b">
  <div class="max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
          About
        </span>
        <h1
          class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
        >
          Learn more <span
            class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
            >about Alfred</span
          >
        </h1>
        <p class="mt-4 text-base text-gray-700 lg:text-base">
          At Alfred, we're driven by a single mission: to empower individuals
          and businesses with the tools and knowledge they need to thrive in the
          ever-evolving world of finance. We believe that financial success
          should be within reach for everyone, and our fintech solutions are
          designed to make that a reality.
          <br />
          <br />
           Founded by a team of passionate experts in finance and technology, we
          combine the best of both worlds to provide you with innovative and
          user-friendly financial services. Our commitment to security,
          transparency, and accessibility is at the core of everything we do.
        </p>
      </div>
      <div class="flex flex-row -space-x-32 lg:ml-auto">
        <img
          class="z-10 mt-20 -mb-32 shadow-box lg:ml-12 shadow-gray-500/20 rounded-3xl"
          src="/card4.svg"
          alt=""
        />
        <img
          class="mt-20 -mb-32 shadow-box shadow-gray-500/20 rounded-3xl"
          src="/card6.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32">
    <div
      class="grid items-start grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-4"
    >
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 xl:grid-cols-1">
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Innovation
          </p>
          <p class="mt-2 text-sm text-gray-700">
            We continuously push the boundaries of financial technology to bring
            you cutting-edge solutions that adapt to your unique needs.
          </p>
        </div>
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Accessibility
          </p>
          <p class="mt-2 text-sm text-gray-700">
            Our user-friendly platform is designed for both seasoned investors
            and those taking their first steps in the financial world.
          </p>
        </div>
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Security
          </p>
          <p class="mt-2 text-sm text-gray-700">
            We take the protection of your data and assets seriously, employing
            the latest encryption and security measures.
          </p>
        </div>
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Utilization of Services
          </p>
          <p class="mt-2 text-sm text-gray-700">
            An impressive 76% of our members make use of our Care Router,
            ensuring they receive the most suitable financial support for their
            needs.
          </p>
        </div>
      </div>

      <dl
        class="grid grid-cols-1 gap-12 text-center lg:ml-auto sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:col-span-3"
      >
        <div class="col-span-full">
          <img
            class="w-full rounded-3xl shadow-box shadow-gray-500/20 tilt-card"
            src="/card2.svg"
            alt=""
          />
        </div>
        <div class="flex flex-col">
          <dt
            class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950"
          >
            Working Individuals
          </dt>
          <dd
            class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
          >
            8,000+
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950"
          >
            super Low Fee
          </dt>
          <dd
            class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
          >
            3%
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950"
          >
            Great Commitment
          </dt>
          <dd
            class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
          >
            99.9%
          </dd>
        </div>
        <div class="flex flex-col">
          <dt
            class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950"
          >
            Massive Earnings
          </dt>
          <dd
            class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
          >
            $70M
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
<section class="overflow-hidden">
  <div class="relative max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32">
    <div class="flex flex-col gap-12">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
          Get to know us
        </span>
        <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
          Our commitment to <span
            class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
            >financial empowerment
          </span>
        </p>
        <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
          Charting a path to your financial success
        </p>
      </div>

      <div class="grid grid-cols-1 gap-12 mx-auto mt-8 lg:grid-cols-3">
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Our mission
          </p>
          <p class="mt-2 text-sm text-gray-700">
            Our mission is to revolutionize the world of finance by empowering
            individuals and businesses with accessible, secure, and innovative
            solutions that pave the way for financial success and prosperity.
          </p>
        </div>
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Our values
          </p>
          <p class="mt-2 text-sm text-gray-700">
            At Alfred, our core values are Integrity, Innovation,
            Inclusivity, and Excellence. We operate with the highest ethical
            standards, continuously seek to push the boundaries of financial
            technology, embrace diversity, and strive for excellence in all that
            we do.
          </p>
        </div>
        <div>
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Our goals
          </p>
          <p class="mt-2 text-sm text-gray-700">
            Implement a feature that offers personalized financial advice and
            Our goals are to drive financial inclusivity, foster innovation, and
            ensure the security of our customers' financial well-being.
          </p>
        </div>
      </div>
    </div>

    <div
      class="flex items-center gap-4 pt-12 lg:-mb-48 animate-marqueeRight whitespace-nowrap"
    >
      <img
        src="/card1.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      /><img
        src="/card2.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      /><img
        src="/card3.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      /><img
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
        src="/card4.svg"
      />
      <img
        src="/card5.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      /><img
        src="/card6.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      /><img
        src="/card7.svg"
        class="w-full duration-500 origin-bottom transform rounded-3xl tilt-card"
      />
    </div>
  </div>
</section>
<section>
  <div class="relative max-w-screen-xl px-8 pt-24 mx-auto md:px-12 lg:px-32">
    <div class="flex flex-col gap-12">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
          Team
        </span>
        <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
          Our team
        </p>
        <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
          Charting a path to your financial success
        </p>
      </div>
      <div class="relative grid gap-12 mt-12 sm:grid-cols-2 xl:grid-cols-3">
        <div class="flex flex-col justify-between h-full">

          <div>
            <span
            class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
            Chief Technology Officer (CTO)
          </span>
          <p
          class="mt-8 font-mono text-base font-medium tracking-tighter uppercase"
          >
          Michael andreuzza
        </p>
        <img
          src="/avatar1.png"
          class="order-last mt-8 rounded-2xl shadow-box shadow-gray-500/50 aspect-[4/4] object-cover"
          alt=""
        />
            <div class="mt-8 text-sm text-gray-700">
              As the CTO, Mike leads our technology team with a vision for
              innovative fintech solutions. With extensive experience in
              software development and a passion for emerging technologies, he
              spearheads the development of our cutting-edge financial
              platforms. Mike's technical expertise is integral to delivering
              the latest and most secure digital financial services to our
              clients.
            </div>
          </div>
        </div>
         <div class="flex flex-col justify-between h-full">

           <div>
             <span
             class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
             >
             Chief Financial Officer (CFO)
            </span>
            <p
            class="mt-8 font-mono text-base font-medium tracking-tighter uppercase"
            >
            Sarah Smith
          </p>
          <img
            src="/avatar3.png"
            class="order-last mt-8 rounded-2xl shadow-box shadow-gray-500/50 aspect-[4/4] object-cover"
            alt=""
          />
            <div class="mt-8 text-sm text-gray-700">
              As our CFO, Sarah brings a wealth of experience in financial management and strategy. With a background in investment banking and a keen eye for financial opportunities, she ensures that our financial decisions are sound and aligned with our company's long-term growth objectives. Sarah's dedication to financial health and her strategic insights drive our financial success.
            </div>
          </div>
        </div>
         <div class="flex flex-col justify-between h-full">

           <div>
             <span
             class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
             >
             Customer Experience Manager
            </span>
            <p
            class="mt-8 font-mono text-base font-medium tracking-tighter uppercase"
            >
            Mario Lopez
          </p>
          <img
            src="/avatar2.png"
            class="order-last mt-8 rounded-2xl shadow-box shadow-gray-500/50 aspect-[4/4] object-cover"
            alt=""
          />
            <div class="mt-8 text-sm text-gray-700">
              As our Customer Experience Manager, Maria is dedicated to ensuring that our clients have a seamless and satisfying experience. With a background in customer relations and a commitment to service excellence, she leads our customer support team in providing personalized and responsive assistance to our clients. Maria's focus is on fostering trust and satisfaction among our valued customers.

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto lg:py-32 md:px-12 lg:px-32">
    <div
      class="flex flex-col w-full gap-12 text-center "
    >
      <div>
        <p
          class="text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
        >
          We are hiring
        </p>
        <p class="max-w-sm mx-auto mt-4 text-gray-700">
          Check out our open positions
        </p>
      </div>
      <div class="flex justify-center">
        <a
          href="/jobs/positions"
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
        >
         See open positions
        </a>

      </div>
    </div>
  </div>
</section>
