<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        Comming soon
      </span>
      <h1
        class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-7xl"
      >
        We are about to land on <span
          class="md:block  md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2 "
          >your screen anytime soon</span
        >
      </h1>

      <p class="max-w-sm mt-4 mx-auto text-base text-gray-700 lg:text-base">
        Sorry the page you are searching for does not exist or it has been
        moved.
      </p>
      <form
        class="w-full p-2 mx-auto mt-8 rounded-2xl lg:rounded-full sm:flex sm:max-w-md bg-white shadow-box shadow-gray-500/20"
      >
        <label for="email-address" class="sr-only">Email address</label>
        <input
          type="email"
          name="email-address"
          id="email-address"
          autocomplete="email"
          required=""
          class="block w-full h-10 px-4 py-2 text-sm text-blue-700 border border-transparent appearance-none rounded-xl lg:rounded-full bg-gray-50 placeholder-gray-700 focus:border-gray-500 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
          placeholder="Enter your email"
        />
        <div class="mt-2 sm:ml-2 sm:mt-0 sm:flex-shrink-0">
          <button
            type="submit"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none lg:w-auto"
            >Subscribe</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
