---
import { customers } from "../../data/customers.json";
---

<section >
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        all customers
      </span>
      <p
        class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl"
      >
        Our valued customers
      </p>
      <p class="max-w-sm mt-4 mx-auto text-base text-gray-700 lg:text-base">
        A community of trust and partnership
      </p>
    </div>
    <div
      class="relative z-10 text-center grid gap-4 mt-12   sm:grid-cols-2 xl:grid-cols-4"
    >
      {
        customers.map((template) => (
          <>
            <a href={template.url} class="group flex h-full cursor-pointer flex-col bg-white px-5 pb-[30px] pt-6 text-sm  transition-all sm:min-h-[250px] md:min-h-[200px] xl:min-h-[250px] justify-center rounded-3xl  hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 duration-200 items-center tilt-card group shadow-box shadow-gray-500/20">
              <img class="text-white group-hover:mix-blend-plus-lighter duration-200 group-hover:invert" src={template.image} alt="" />

            </a>
          </>
        ))
      }
    </div>
  </div>
</section>
