<section>
  <div
    class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32"
    x-data="{duration: 'monthly'}"
  >
    <div class="max-w-2xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        we are very cheap
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Equip your business <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-700 to-indigo-600"
          >with world class software
        </span>
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Every plan includes every feature, and can scale as your team does.
      </p>
      <div
        class="w-full border bg-white overflow-hidden inline-flex mt-6 p-0.5 rounded-full max-w-xs shadow-button shadow-white/20 z-0"
      >
        <button
          id="monthly-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium text-blue-900 transition border border-transparent rounded-full"
          @click="duration = 'monthly'"
          :class="duration == 'monthly' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button">Monthly</button
        >
        <button
          id="annual-pricing-button"
          class="block w-full px-8 py-2 text-xs font-medium text-blue-900 transition border border-transparent rounded-full"
          @click="duration = 'annual'"
          :class="duration == 'annual' ? 'bg-gray-100 border text-blue-900 ' : ''"
          type="button">Annual</button
        >
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-4 mt-12 md:grid-cols-2 sm:mx-auto xl:grid-cols-3"
    >
      <section
        class="flex flex-col p-8 bg-white rounded-3xl shadow-box shadow-gray-500/20"
      >
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2">
            <p
              class="mt-8 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              Starter Pack
            </p>
            <p
              class="order-first font-mono text-2xl font-semibold tracking-tighter lg:text-4xl text-blue-950"
            >
              <span
                data-monthly="$9"
                data-annual="$5"
                x-text="$el.dataset[duration]"></span>
              <span
                class="ml-2 text-xs font-normal tracking-normal text-gray-700"
                >/monthly <span
                  x-show="duration === 'annual'"
                  style="display: none;">billed annually</span
                >
              </span>
            </p>
          </div>
          <p class="text-xs font-medium text-gray-700">For individuals</p>
          <p class="mt-4 text-sm text-gray-700">
            This plan is ideal for individual users and hobbyists who are
            looking for essential functionalities to support their personal
            projects and interests.
          </p>
        </div>
        <ul
          class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
          role="list"
        >
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Limited number of users</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Limited storage (1 GB)</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Basic support (email only)</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Basic analytics</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Limited integrations</span>
          </li>
        </ul>
        <div class="w-full mt-8">
          <a
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            href="#">Get started</a
          >
        </div>
      </section>
      <section
        class="flex flex-col order-first p-8 shadow-box shadow-blue-700/30 rounded-3xl bg-gradient-to-b from-blue-500 to-indigo-600 lg:order-none"
      >
        <div>
          <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-2">
              <p
                class="mt-8 font-mono text-base font-medium tracking-tighter text-white uppercase"
              >
                Golden Unicorn
              </p>
              <p
                class="order-first font-mono text-2xl font-semibold tracking-tighter text-white lg:text-4xl"
              >
                <span
                  data-monthly="$49"
                  data-annual="$39"
                  x-text="$el.dataset[duration]"></span>
                <span
                  class="ml-2 text-xs font-normal tracking-normal text-white"
                  >/monthly <span
                    x-show="duration === 'annual'"
                    style="display: none;">billed annually</span
                  >
                </span>
              </p>
            </div>
            <p class="text-xs font-medium text-white">For big companies</p>
            <p class="mt-4 text-sm text-white">
              Tailored for medium-sized businesses, this plan offers advanced
              tools and features to support your growing demands.
            </p>
          </div>
        </div>
        <ul class="flex flex-col mt-10 text-sm text-white gap-y-3" role="list">
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Unlimited number of users</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Unlimited storage</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Advanced support</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Advanced analytics</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Multiple integrations</span>
          </li>
        </ul>
        <div class="w-full mt-8">
          <a
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            href="#">Get started</a
          >
        </div>
      </section>
      <section
        class="flex flex-col p-8 bg-white rounded-3xl shadow-box shadow-gray-500/20"
      >
        <div class="flex flex-col gap-2">
          <div class="flex flex-col gap-2">
            <p
              class="mt-8 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              Diamond Deluxe
            </p>
            <p
              class="order-first font-mono text-2xl font-semibold tracking-tighter lg:text-4xl text-blue-950"
            >
              <span
                data-monthly="$99"
                data-annual="$89"
                x-text="$el.dataset[duration]"></span>
              <span
                class="ml-2 text-xs font-normal tracking-normal text-gray-700"
                >/monthly <span
                  x-show="duration === 'annual'"
                  style="display: none;">billed annually</span
                >
              </span>
            </p>
          </div>
          <p class="text-xs font-medium text-gray-700">For tailored ocasions</p>
          <p class="mt-4 text-sm text-gray-700">
            This top-tier plan caters to large enterprises and corporations,
            offering enterprise-level needs with dedicated support.
          </p>
        </div>
        <ul
          class="flex flex-col mt-10 text-sm text-gray-700 gap-y-3"
          role="list"
        >
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Unlimited number of users</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Unlimited storage</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Advanced support</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Advanced analytics</span>
          </li>
          <li class="flex flex-row items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>
            <span>Multiple integrations</span>
          </li>
        </ul>
        <div class="w-full mt-8">
          <a
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            href="#">Get started</a
          >
        </div>
      </section>
    </div>
    <!---- Here starts the extended Desktop pricing table -->
    <div class="hidden mt-24 lg:block">
      <table class="w-full mx-auto text-center">
        <thead class="sticky top-2">
          <tr class="align-top">
            <th class=""></th>
            <th class="w-1/4 px-2 py-4 bg-white rounded-l-xl">
              <div
                class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
              >
                Hobby
              </div>
            </th>
            <th class="w-1/4 px-2 py-4 bg-white">
              <div
                class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
              >
                GOLDEN UNICORN
              </div>
            </th>
            <th class="w-1/4 px-2 py-4 bg-white rounded-r-xl">
              <div
                class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
              >
                DIAMOND DELUXE
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-white/10">
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Analytics <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >3</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >10</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Accounts <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >5</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >10</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Integrations <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >2</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Programs <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg></td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >1</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Deployments <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Advanced Checkpoints <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Private Deploymentss <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
              >Support</th
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Discord community</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Live chat</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              Dedicated Discord</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              SLA
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >4 days</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >3 day</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >1 hour</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Service Agreement
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Dedicated Manager
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Training
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Dedicated support channel
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Webstorm Environments <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l14 0"></path>
                </svg>
              </div>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Included accounts
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg></td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >30</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >100</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Views <p class="inline"></p>
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Unlimited</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Additional accounts
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg></td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >$23 per month</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >$40 per month</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Discounts
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Minimum term
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Month-to-month</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >Month-to-month</td
            >
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
              >1 year</td
            >
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Pay monthly
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Pay yearly
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Pay by credit card
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="mx-auto text-gray-700 icon icon-tabler icon-tabler-minus"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
              </svg>
            </td>
          </tr>
          <tr>
            <th
              class="py-3 font-mono text-base font-medium tracking-tighter uppercase text-blue-950 text-left"
            >
              Pay by bank transfer
            </th>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
            <td
              class="px-2 font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mx-auto text-blue-700 icon icon-tabler icon-tabler-circle-check-filled"
                viewBox="0 0 24 24"
                stroke-width="1"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                  stroke-width="0"
                  fill="currentColor"></path>
              </svg>
            </td>
          </tr>
          <tr class="align-top">
            <th class=""></th>
            <th class="w-1/4 px-2 py-4">
              <button
                type="button"
                class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
                >Get started</button
              >
            </th>
            <th class="w-1/4 px-2 py-4">
              <button
                type="button"
                class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-non w-full"
                >Get started</button
              >
            </th>
            <th class="w-1/4 px-2 py-4">
              <button
                type="button"
                class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
                >Get started</button
              >
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
