<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
          help center
        </span>
        <p
          class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 "
        >
        Sending money to other accounts
        </p>
        <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
          Your one-stop resource for answers and support.
        </p>


      </div>
    <div class="mt-12 max-w-xl">
        <div class="prose-styles">
          <p>Glance at your workspace’s usage.</p><p>
            The Admin Insights Dashboard shows high-level information about a
            workspace's usage, growth, and creators.
          </p><p>
            Admins on all plans (Starter free, Business, and Enterprise) will have
            access to 'At a Glance' insights which include the following:
          </p><ul>
            <li>Total number of meetings saved</li><li>
              Total hours of Navy recorded &amp; hours of Navy watched
            </li><li>Total interactions</li>
          </ul><h2>Meetings saved</h2><p>
            Learning a new language can open up a world of possibilities. It can
            help you gain new perspectives, make new friends, and even land a better
            job. In this post, we'll explore the benefits of learning a new language
            and why it's worth the effort."
          </p>
        </div>
    </div>
  </div>
</section>
