<section class="scroll-mt-12" id="roles">
    <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
      <div>
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
         send money
        </span>
        <p
          class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 "
        >
          Find out how to send money

        </p>


        <div class="w-full p-2  mt-8 rounded-2xl lg:rounded-full sm:flex sm:max-w-md bg-white shadow-box shadow-gray-500/20">
          <label
            for="search"
            class="sr-only"
            >Quick search</label
          >
          <div class="relative  flex items-center w-full">
            <input
              type="text"
              name="search"
              id="search"
              class="   pr-14 block w-full h-10 px-4 py-2 text-sm text-blue-700 border border-transparent appearance-none rounded-xl lg:rounded-full bg-gray-50 placeholder-gray-700 focus:border-gray-500 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
            />
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <kbd
                class="inline-flex items-center rounded-full border border-gray-200 px-1 font-sans text-xs text-gray-400"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>
      </div>

      <div class="mt-12">


        <ul role="list" class="divide-y  border-y">
          <li class="relative flex justify-between gap-x-6 py-5">
            <div class="min-w-0 flex-auto">
              <p
                class="font-mono text-base font-medium tracking-tighter uppercase"
              >
                <a href="/help/helpcenter-article">
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                   Sending money to other accounts
                </a>
              </p>
              <p class="mt-1 flex text-xs text-gray-700">
                Setting up, paying for, editing, and cancelling transfers.
              </p>
            </div>

            <div class="flex shrink-0 items-center gap-x-4">
              <div class="hidden sm:flex sm:flex-col sm:items-end">
                <p
                  class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
                >
                  Read article
                </p>

              </div>
            </div>
          </li>
          <li class="relative flex justify-between gap-x-6 py-5">
            <div class="min-w-0 flex-auto">
              <p
                class="font-mono text-base font-medium tracking-tighter uppercase"
              >
                <a href="/help/helpcenter-article">
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  Sending money from other accounts
                </a>
              </p>
              <p class="mt-1 flex text-xs text-gray-700">
                Setting up your account and getting verified.
              </p>
            </div>

            <div class="flex shrink-0 items-center gap-x-4">
              <div class="hidden sm:flex sm:flex-col sm:items-end">
                <p
                  class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
                >
                  Read article
                </p>

              </div>
            </div>
          </li>
          <li class="relative flex justify-between gap-x-6 py-5">
            <div class="min-w-0 flex-auto">
              <p
                class="font-mono text-base font-medium tracking-tighter uppercase"
              >
                <a href="/help/helpcenter-article">
                  <span class="absolute inset-x-0 -top-px bottom-0"></span>
                  Sending money from your account
                </a>
              </p>
              <p class="mt-1 flex text-xs text-gray-700">
                Holding balances, setting up Direct Debits, and using Assets.
              </p>
            </div>

            <div class="flex shrink-0 items-center gap-x-4">
              <div class="hidden sm:flex sm:flex-col sm:items-end">
                <p
                  class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-blue-700 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
                >
                  Read article
                </p>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
