<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="max-w-2xl">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
       FAQ
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Frquently asked questions <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
          >ready to be answered</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>

    </div>
    <div class="flex flex-col gap-2 mt-12">
      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">How do I sign up for your services?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Signing up is easy. Just click on the "Sign Up" button on our homepage, and follow the instructions to create your account.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What payment methods do you accept?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">We accept all major credit cards, debit cards, and PayPal for payments. You can choose your preferred method during the checkout process.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Is my personal information safe with you?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Yes, we take data security seriously. Your personal information is encrypted and stored securely, and we never share it with third parties.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What if I need to cancel my subscription?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">You can cancel your subscription at any time by logging into your account and going to the "Subscription" section. Follow the prompts to cancel your subscription.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Do you offer a money-back guarantee?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Yes, we offer a 30-day money-back guarantee. If you're not satisfied with our services, you can request a full refund within 30 days of your purchase.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">How can I contact your customer support?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">You can reach our customer support team through our "Contact Us" page or by emailing support@yourcompany.com. We're here to assist you 24/7.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What are the system requirements for using your software?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Our software is compatible with Windows, macOS, and Linux operating systems. You'll need a modern web browser to access our services.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Can I upgrade my plan at any time?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Yes, you can upgrade your plan at any time. Simply log in to your account and go to the "Subscription" section to choose a higher-tier plan.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Do you offer discounts for non-profit organizations?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">Yes, we have special pricing and discounts for non-profit organizations. Please contact our sales team for more information.</p>
      </details>

      <details class="p-4 bg-white rounded-lg shadow-box shadow-gray-500/20">
        <summary  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What is your response time for support requests?</summary>
        <p class="pl-2 mt-8 text-sm text-gray-700">We aim to respond to support requests within 24 hours. Our team is dedicated to providing timely and helpful assistance.</p>
      </details>
    </div>
  </div>
</section>
