<section>
    <div class="max-w-screen-xl px-8 py-12 mx-auto md:px-12 lg:px-32">
      <div >
        <span
          class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
        >
         FAQ
        </span>
        <p class="mt-8 text-4xl font-semibold tracking-tighter lg:text-3xl text-blue-950">
          Frquently asked questions <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
          >ready to be answered</span
        >
        </p>
        <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
          Explore a wide range of financial tools, features, and support for your
          financial goals and questions
        </p>
        <div class="flex flex-wrap items-center gap-2 mt-10">
          <a
            href="/forms/contact"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all duration-200 rounded-full bg-gradient-to-b from-blue-500 to-indigo-600 hover:to-indigo-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            >Contact sales</a
          >
          <a
            href="/"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-gray-500 transition-all duration-200 bg-white border border-gray-300 rounded-full hover:text-accent-500 focus:ring-2 shadow-button shadow-gray-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none"
            >See all pages</a
          >
        </div>

      </div>
      <div class="grid grid-cols-1 mt-12 gap-y-12 gap-x-4 lg:gap-x-8 md:grid-cols-2 lg:grid-cols-3">
        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">How do I sign up for your services?</p>
          <p class="mt-8 text-sm text-gray-700 ">Signing up is easy. Just click on the "Sign Up" button on our homepage, and follow the instructions to create your account.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What payment methods do you accept?</p>
          <p class="mt-8 text-sm text-gray-700 ">We accept all major credit cards, debit cards, and PayPal for payments. You can choose your preferred method during the checkout process.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Is my personal information safe with you?</p>
          <p class="mt-8 text-sm text-gray-700 ">Yes, we take data security seriously. Your personal information is encrypted and stored securely, and we never share it with third parties.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What if I need to cancel my subscription?</p>
          <p class="mt-8 text-sm text-gray-700 ">You can cancel your subscription at any time by logging into your account and going to the "Subscription" section. Follow the prompts to cancel your subscription.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Do you offer a money-back guarantee?</p>
          <p class="mt-8 text-sm text-gray-700 ">Yes, we offer a 30-day money-back guarantee. If you're not satisfied with our services, you can request a full refund within 30 days of your purchase.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">How can I contact your customer support?</p>
          <p class="mt-8 text-sm text-gray-700 ">You can reach our customer support team through our "Contact Us" page or by emailing support@yourcompany.com. We're here to assist you 24/7.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">What are the system requirements for using your software?</p>
          <p class="mt-8 text-sm text-gray-700 ">Our software is compatible with Windows, macOS, and Linux operating systems. You'll need a modern web browser to access our services.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Can I upgrade my plan at any time?</p>
          <p class="mt-8 text-sm text-gray-700 ">Yes, you can upgrade your plan at any time. Simply log in to your account and go to the "Subscription" section to choose a higher-tier plan.</p>
        </div>

        <div >
          <p  class="font-mono text-sm tracking-tighter uppercase cursor-pointer focus:text-blue-700">Do you offer discounts for non-profit organizations?</p>
          <p class="mt-8 text-sm text-gray-700 ">Yes, we have special pricing and discounts for non-profit organizations. Please contact our sales team for more information.</p>
        </div>

      </div>

    </div>
  </section>
