<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div>
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        important features
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Comprehensive suite of financial <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >services and solutions for your needs</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>
    </div>

    <div class="relative z-10 grid gap-12 mt-12 sm:grid-cols-2 xl:grid-cols-3">
      <div class="flex flex-col justify-between h-full">
        <img
          src="/card1.svg"
          class="order-last mt-8 rounded-2xl shadow-box shadow-blue-500/50"
          alt=""
        />

        <div>
          <div class="inline-flex items-center gap-4">
            <div class="inline-flex items-center text-blue-700">
              <svg
                class="w-4 h-4 icon icon-tabler icon-tabler-send"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 14l11 -11"></path>
                <path
                  d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
                ></path>
              </svg>
            </div>
            <div
              class="font-mono text-base font-medium tracking-tighter uppercase"
            >
              ACH Transactions
            </div>
          </div>
          <div class="mt-2 text-sm text-gray-700">
            <span
              >Initiate ACH credits and debits, verify account numbers through
              pre-notifications, and securely store frequently account
              details.</span
            >
          </div>
          <div class="grid grid-cols-1 gap-2 mt-4 text-sm font-medium">
            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-wallet"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"
                ></path>
                <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path>
              </svg><div class="text-sm font-medium">Create accounts</div>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-video"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"
                ></path>
                <path
                  d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"
                ></path>
              </svg><div class="text-sm font-medium">Monitor activity</div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-between h-full">
        <img
          src="/card2.svg"
          class="order-last mt-8 rounded-2xl shadow-box shadow-gray-600/20"
          alt=""
        />
        <div>
          <div class="inline-flex items-center gap-4">
            <div class="inline-flex items-center text-blue-700">
              <svg
                class="w-4 h-4 icon icon-tabler icon-tabler-wallet"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"
                ></path>
                <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path>
              </svg>
            </div>
            <div
              class="font-mono text-base font-medium tracking-tighter uppercase"
            >
              Banking Solutions
            </div>
          </div>
          <div class="mt-2 text-sm text-gray-700">
            <span
              >Flexible account structures. Unlimited account numbers. Extended
              FDIC coverage whenever you need to and order even on weekends.</span
            >
          </div>
          <div class="grid grid-cols-1 gap-2 mt-4 text-sm font-medium">

            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-building-bank"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 21l18 0"></path>
                <path d="M3 10l18 0"></path>
                <path d="M5 6l7 -3l7 3"></path>
                <path d="M4 10l0 11"></path>
                <path d="M20 10l0 11"></path>
                <path d="M8 14l0 3"></path>
                <path d="M12 14l0 3"></path>
                <path d="M16 14l0 3"></path>
              </svg><div class="text-sm font-medium">Move money</div>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-table-export"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"
                ></path>
                <path d="M3 10h18"></path>
                <path d="M10 3v18"></path>
                <path d="M16 19h6"></path>
                <path d="M19 16l3 3l-3 3"></path>
              </svg><div class="text-sm font-medium">Export data</div>
            </div>

          </div>
        </div>
      </div>
      <div class="flex flex-col justify-between h-full">
        <img
          src="/card3.svg"
          class="order-last mt-8 rounded-2xl shadow-box shadow-blue-590/20"
          alt=""
        />
        <div>
          <div class="inline-flex items-center gap-4">
            <div class="inline-flex items-center text-blue-700">
              <svg
                class="w-4 h-4 icon icon-tabler icon-tabler-credit-card"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
                ></path>
                <path d="M3 10l18 0"></path>
                <path d="M7 15l.01 0"></path>
                <path d="M11 15l2 0"></path>
              </svg>
            </div>
            <div
              class="font-mono text-base font-medium tracking-tighter uppercase"
            >
              Custom Cards
            </div>
          </div>
          <div class="mt-2 text-sm text-gray-700">
            <span
              >Issue personalized cards for businesses or consumers with the
              option to approve authorizations in real-time or configure limits.
            </span>
          </div>
          <div class="grid grid-cols-1 gap-2 mt-4 text-sm font-medium">

            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-credit-card"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
                ></path>
                <path d="M3 10l18 0"></path>
                <path d="M7 15l.01 0"></path>
                <path d="M11 15l2 0"></path>
              </svg><div class="text-sm font-medium">Create cards</div>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono text-xs tracking-tighter uppercase"
            >
              <svg
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-brand-speedtest"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5.636 19.364a9 9 0 1 1 12.728 0"></path>
                <path d="M16 9l-4 4"></path>
              </svg><div class="text-sm font-medium">ACCELERATED TIMES</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
