<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="lg:text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        important features
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Comprehensive suite of financial <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
          >services and solutions for your needs</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:mx-auto lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>
    </div>
    <div>
      <div
        class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
      >
        <div class="grid justify-between w-full">
          <div
            class="absolute inset-0 left-0 z-10 from-gray-100 via-transparent w-44 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-gray-100 via-transparent w-44 bg-gradient-to-l"
          >
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div
            class="relative flex items-center gap-2 animate-marqueeRight whitespace-nowrap"
          >
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Secure Transactions</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Proxy Voting Capabilities</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Swift and Effortless Account Setup</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Merging Identical Entries</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Customized Domain Options</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Allow Guest Financial Insights</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Advanced Textual Analysis Tools</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Tailored Brand Color Schemes</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Define Financial Profile Images</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Choose Between Dark and Light Finance Views</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Priority Account Alerts</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Internal Financial Discussions</span>
            </div>
          </div>
          <div
            class="relative flex items-center gap-2 animate-marqueeLeft whitespace-nowrap"
          >
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Secure Transactions</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Proxy Voting Capabilities</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Swift and Effortless Account Setup</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Merging Identical Entries</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Customized Domain Options</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Allow Guest Financial Insights</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Advanced Textual Analysis Tools</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Tailored Brand Color Schemes</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Define Financial Profile Images</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Choose Between Dark and Light Finance Views</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Priority Account Alerts</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Internal Financial Discussions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Real-time financial analytics
        </p>
        <p class="mt-2 text-sm text-gray-700">
          This feature can include customizable charts, graphs, and financial
          dashboards that help users monitor their investments and expenses.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card1.svg" alt="" />
      </div>
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Secure digital wallet
        </p>
        <p class="mt-2 text-sm text-gray-700">
          Offer a secure and user-friendly digital wallet where users can manage
          their digital assets, cryptocurrencies, and traditional currencies.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card2.svg" alt="" />
      </div>
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Personalized financial advice
        </p>
        <p class="mt-2 text-sm text-gray-700">
          Implement a feature that offers personalized financial advice and
          investment recommendations based on the user's goals.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card3.svg" alt="" />
      </div>
    </div>
    <div
      class="relative z-10 grid gap-12 pt-12 mt-12 overflow-hidden border-t sm:grid-cols-2 xl:grid-cols-3"
    >
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-send"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10 14l11 -11"></path>
              <path
                d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
              ></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            ACH Transactions
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Initiate ACH credits and debits, verify account numbers through
            pre-notifications, and securely store frequently accessed account
            details.</span
          >
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-wallet"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12"
              ></path>
              <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Banking Solutions
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Flexible account structures. Unlimited account numbers. Extended
            FDIC coverage .</span
          >
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-credit-card"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"
              ></path>
              <path d="M3 10l18 0"></path>
              <path d="M7 15l.01 0"></path>
              <path d="M11 15l2 0"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Custom Cards
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Issue personalized cards for businesses or consumers with the
            option to approve authorizations in real-time or configure limits
            programmatically.
          </span>
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-checkup-list"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
              ></path>
              <path
                d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
              ></path>
              <path d="M9 14h.01"></path>
              <path d="M9 17h.01"></path>
              <path d="M12 16l1 1l3 -3"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Check Handling
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Send customized checks worldwide with a single API call or deposit
            checks through API or the user dashboard.
          </span>
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-world"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M3.6 9h16.8"></path>
              <path d="M3.6 15h16.8"></path>
              <path d="M11.5 3a17 17 0 0 0 0 18"></path>
              <path d="M12.5 3a17 17 0 0 1 0 18"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Wire Transfers
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Experience the original instant money transfer method. Send funds
            to any location at any time Fedwire is operational.
          </span>
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-transfer"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M20 10h-16l5.5 -6"></path>
              <path d="M4 14h16l-5.5 6"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Real-Time Fund Transfers
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Effortlessly transfer money to accounts at most major banks within
            seconds, eliminating the need for multi-day waits .</span
          >
        </div>
      </div>
      <div>
       <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-square-rounded-arrow-right"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 16l4 -4l-4 -4"></path>
              <path d="M8 12h8"></path>
              <path
                d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
              ></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            FedNow Services
          </div>
       </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Utilize the Federal Reserve's latest payment system for
            instantaneous 24/7/365 money transfers through participating banks.
          </span>
        </div>
      </div>
      <div>
       <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-lifebuoy"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
              <path d="M15 15l3.35 3.35"></path>
              <path d="M9 15l-3.35 3.35"></path>
              <path d="M5.65 5.65l3.35 3.35"></path>
              <path d="M18.35 5.65l-3.35 3.35"></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            Customer Support
          </div>
       </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Dedicated assistance for all your queries and concerns. Reach out
            to our customer support team 24/7 for prompt solutions and
            personalized guidance.
          </span>
        </div>
      </div>
      <div>
        <div class="inline-flex items-center gap-4">
          <div
            class="inline-flex items-center text-blue-700 "
          >
            <svg
              class="w-4 h-4 icon icon-tabler icon-tabler-send"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10 14l11 -11"></path>
              <path
                d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"
              ></path>
            </svg>
          </div>
          <div
            class="font-mono text-base font-medium tracking-tighter uppercase "
          >
            ACH Transactions
          </div>
        </div>
        <div class="mt-2 text-sm text-gray-700 ">
          <span
            >Initiate ACH credits and debits, verify account numbers through
            pre-notifications, and securely store frequently accessed account
            details.</span
          >
        </div>
      </div>
    </div>
  </div>
</section>
