<section class="relative">
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div class="flex flex-col gap-24">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 items-center">
        <div>
          <span
            class="text-blue-600 uppercase font-mono font-medium tracking-tight text-xs"
          >
            because why not
          </span>
          <p
            class="text-4xl mt-8 tracking-tighter font-semibold text-blue-1000"
          >
            Innovative financial <span
              class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
              >solutions for every situation</span
            >
          </p>
          <p class="text-sm max-w-sm mt-4 text-gray-700">
            Discover a variety of tools, services, and expert guidance tailored
            to your unique financial needs
          </p>
          <div
            class="mt-6 space-y-2 text-sm font-medium grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2"
          >
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-360"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 15.328c2.414 -.718 4 -1.94 4 -3.328c0 -2.21 -4.03 -4 -9 -4s-9 1.79 -9 4s4.03 4 9 4"
                ></path>
                <path d="M9 13l3 3l-3 3"></path>
              </svg><span>Clear data visibility</span>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-antenna-bars-3"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 18l0 -3"></path>
                <path d="M10 18l0 -6"></path>
                <path d="M14 18l0 .01"></path>
                <path d="M18 18l0 .01"></path>
              </svg><span>Reduced external factors</span>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-load-balancer"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 13m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M12 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 16v3"></path>
                <path d="M12 10v-7"></path>
                <path d="M9 6l3 -3l3 3"></path>
                <path d="M12 10v-7"></path>
                <path d="M9 6l3 -3l3 3"></path>
                <path d="M14.894 12.227l6.11 -2.224"></path>
                <path d="M17.159 8.21l3.845 1.793l-1.793 3.845"></path>
                <path d="M9.101 12.214l-6.075 -2.211"></path>
                <path d="M6.871 8.21l-3.845 1.793l1.793 3.845"></path>
              </svg><span>Enhanced stability</span>
            </div><div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-brand-speedtest"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5.636 19.364a9 9 0 1 1 12.728 0"></path>
                <path d="M16 9l-4 4"></path>
              </svg><span>Accelerated Times</span>
            </div>
          </div>
        </div>
        <div
          class="rounded-xl bg-gray-200 shadow-box shadow-gray-500/30 overflow-hidden tilt-card"
        >
          <div><img src="/widget1.svg" alt="" /></div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-24 items-center">
        <div class="lg:order-last">
          <span
            class="text-blue-600 uppercase font-mono font-medium tracking-tight text-xs"
          >
            because why not
          </span>
          <p
            class="text-4xl mt-8 tracking-tighter font-semibold text-blue-1000"
          >
            Innovative financial <span
              class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
              >solutions for every situation</span
            >
          </p>
          <p class="text-sm max-w-sm mt-4 text-gray-700">
            Discover a variety of tools, services, and expert guidance tailored
            to your unique financial needs
          </p>
          <div
            class="mt-6 space-y-2 text-sm font-medium grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2"
          >
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-360"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M17 15.328c2.414 -.718 4 -1.94 4 -3.328c0 -2.21 -4.03 -4 -9 -4s-9 1.79 -9 4s4.03 4 9 4"
                ></path>
                <path d="M9 13l3 3l-3 3"></path>
              </svg><span>Clear data visibility</span>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-antenna-bars-3"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 18l0 -3"></path>
                <path d="M10 18l0 -6"></path>
                <path d="M14 18l0 .01"></path>
                <path d="M18 18l0 .01"></path>
              </svg><span>Reduced external factors</span>
            </div>
            <div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-load-balancer"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 13m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M12 20m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 16v3"></path>
                <path d="M12 10v-7"></path>
                <path d="M9 6l3 -3l3 3"></path>
                <path d="M12 10v-7"></path>
                <path d="M9 6l3 -3l3 3"></path>
                <path d="M14.894 12.227l6.11 -2.224"></path>
                <path d="M17.159 8.21l3.845 1.793l-1.793 3.845"></path>
                <path d="M9.101 12.214l-6.075 -2.211"></path>
                <path d="M6.871 8.21l-3.845 1.793l1.793 3.845"></path>
              </svg><span>Enhanced stability</span>
            </div><div
              class="inline-flex items-center gap-2 font-mono uppercase tracking-tighter text-xs"
            >
              <svg
                class="icon icon-tabler text-blue-700 w-4 h-4 icon-tabler-brand-speedtest"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5.636 19.364a9 9 0 1 1 12.728 0"></path>
                <path d="M16 9l-4 4"></path>
              </svg><span>Accelerated Times</span>
            </div>
          </div>
        </div>
        <div
          class="rounded-xl bg-gray-200 shadow-box shadow-gray-500/30 overflow-hidden tilt-card"
        >
          <div><img src="/widget2.svg" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
