<section>
  <div class="relative max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="lg:text-center">
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        important features
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Comprehensive suite of financial <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >services and solutions for your needs</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:mx-auto lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>
    </div>
    <div>
      <div
        class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl"
      >
        <div class="grid justify-between w-full">
          <div
            class="absolute inset-0 left-0 z-10 from-gray-100 via-transparent w-44 bg-gradient-to-r"
          >
          </div>
          <div
            class="absolute inset-0 left-0 z-10 ml-auto from-gray-100 via-transparent w-44 bg-gradient-to-l"
          >
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused  animate-marqueeRight whitespace-nowrap"
          >
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Secure Transactions</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Proxy Voting Capabilities</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Swift and Effortless Account Setup</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Merging Identical Entries</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Customized Domain Options</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Allow Guest Financial Insights</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Advanced Textual Analysis Tools</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Tailored Brand Color Schemes</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Define Financial Profile Images</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Choose Between Dark and Light Finance Views</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Priority Account Alerts</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Internal Financial Discussions</span>
            </div>
          </div>
          <div
            class="relative flex items-center gap-2 hover:animate-animationPaused  animate-marqueeLeft whitespace-nowrap"
          >
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Secure Transactions</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Proxy Voting Capabilities</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Swift and Effortless Account Setup</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Merging Identical Entries</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Customized Domain Options</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Allow Guest Financial Insights</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Advanced Textual Analysis Tools</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Tailored Brand Color Schemes</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Define Financial Profile Images</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Choose Between Dark and Light Finance Views</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Priority Account Alerts</span>
            </div>
            <div
              class="inline-flex items-center gap-3 px-4 py-2 font-mono text-sm font-medium tracking-tighter uppercase duration-200 rounded-md hover:bg-gradient-to-b bg-gradient-to-b hover:from-blue-500 hover:to-indigo-600 from-gray-50 to-gray-100 transform-colors shadow-box shadow-gray-500/20 hover:text-white group"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 text-blue-700 icon icon-tabler icon-tabler-circle-check group-hover:text-white "
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <span class="group-hover:text-white">Internal Financial Discussions</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-2 lg:grid-cols-3">
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Real-time financial analytics
        </p>
        <p class="mt-2 text-sm text-gray-700">
          This feature can include customizable charts, graphs, and financial
          dashboards that help users monitor their investments and expenses.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card1.svg" alt="" />
      </div>
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Secure digital wallet
        </p>
        <p class="mt-2 text-sm text-gray-700">
          Offer a secure and user-friendly digital wallet where users can manage
          their digital assets, cryptocurrencies, and traditional currencies.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card2.svg" alt="" />
      </div>
      <div>
        <p
          class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
        >
          Personalized financial advice
        </p>
        <p class="mt-2 text-sm text-gray-700">
          Implement a feature that offers personalized financial advice and
          investment recommendations based on the user's goals.
        </p>
        <img class="mt-6 rounded-2xl shadow-box shadow-gray-500/20" src="/card3.svg" alt="" />
      </div>
    </div>

  </div>
</section>
