<section class="overflow-hidden">
  <div class="relative max-w-screen-xl px-8 py-12 xl:py-24 mx-auto md:px-12 lg:px-32">
    <div >
      <span
        class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase"
      >
        important features
      </span>
      <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
        Comprehensive suite of financial <span
          class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >services and solutions for your needs</span
        >
      </p>
      <p class="max-w-sm mt-4 text-base text-gray-700 lg:text-base">
        Explore a wide range of financial tools, features, and support for your
        financial goals and questions
      </p>
    </div>
    <div
    class="xl:flex flex-wrap items-start justify-end gap-6 sm:gap-8 hidden xl:contents"
  >

    <div
      class="contents lg:col-span-2 lg:col-end-2 lg:-mt-32 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8 lg:-mr-[38rem]"
    >
      <div
        class="flex self-end justify-end flex-none order-first w-64 mt-12 lg:mt-0 lg:w-auto"
      >
        <img
          src="/card1.svg"
          alt=""
          class="shadow-box shadow-blue-500/30 w-[24rem] max-w-none flex-none rounded-3xl  object-cover tilt-card"
        />
      </div>
      <div class="flex self-end justify-end flex-auto w-96 lg:w-auto lg:flex-none">
        <img
          src="/card2.svg"
          alt=""
          class="flex-none w-[40rem] max-w-none rounded-3xl  lg:rounded-4xl tilt-card shadow-box shadow-white/50"
        />
      </div>
      <div
        class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none"
      >
        <img
          src="/card3.svg"
          alt=""
          class="object-cover w-[60rem]  max-w-none rounded-3xl lg:rounded-5xl tilt-card shadow-box shadow-blue-950/50"
        />
      </div>
    </div>
  </div>
  </div>
</section>

