
<section>
    <div class="relative py-12 mx-auto overflow-hidden overflow-x-hidden 2xl:max-w-screen-xl">
      <div class="grid justify-between w-full">
        <div
          class="absolute inset-0 left-0 z-10 from-gray-100 via-transparent w-44 bg-gradient-to-r"
        >
        </div>
        <div
          class="absolute inset-0 left-0 z-10 ml-auto from-gray-100 via-transparent w-44 bg-gradient-to-l"
        >
        </div>
      </div>
      <div
        class="relative flex items-center gap-4 opacity-50 animate-marqueeLeft whitespace-nowrap"
      >
        <img src="/brands/1.svg" alt="logo" />
        <img src="/brands/2.svg" alt="logo" />
        <img src="/brands/3.svg" alt="logo" />
        <img src="/brands/4.svg" alt="logo" />
        <img src="/brands/5.svg" alt="logo" />
        <img src="/brands/6.svg" alt="logo" />
      </div>
    </div>
</section>
