<section>
  <div class="relative max-w-screen-xl px-8 py-12 mx-auto md:px-12 lg:px-32 lg:py-24">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:gap-12 md:items-end">
     <div>
        <span class="font-mono text-xs font-medium tracking-tight text-blue-600 uppercase ">
        the stats
        </span>
        <p class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950">
          Unleash the power  <span
            class="md:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600"
            >of Seebreeze</span
          >
        </p>
     </div>
      <div>
        <p class="text-base text-gray-700 lg:text-base">
          Explore a comprehensive overview of the numbers that define our incredible success and commitment to excellence
        </p>
      </div>

    </div>

    <dl
      class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-2 md:grid-cols-4"
    >
      <div class="flex flex-col p-8 bg-white rounded-2xl shadow-box shadow-gray-500/20">
        <dt class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950">
          Working Individuals
        </dt>
        <dd
          class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
        >
          8,000+
        </dd>
      </div>
      <div class="flex flex-col p-8 bg-white rounded-2xl shadow-box shadow-gray-500/20">
        <dt class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950">
          super Low Fee
        </dt>
        <dd
          class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
        >
          3%
        </dd>
      </div>
      <div class="flex flex-col p-8 bg-white rounded-2xl shadow-box shadow-gray-500/20">
        <dt class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950">
         Great Commitment
        </dt>
        <dd
          class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
        >
          99.9%
        </dd>
      </div>
      <div class="flex flex-col p-8 bg-white rounded-2xl shadow-box shadow-gray-500/20">
        <dt class="mt-4 font-mono text-sm font-medium tracking-tighter uppercase text-blue-950">
         Massive Earnings
        </dt>
        <dd
          class="order-first font-mono text-3xl font-semibold tracking-tight text-blue-700"
        >
          $70M
        </dd>
      </div>
    </dl>

  </div>
</section>
