<section>
  <div class="px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-blue-600"
        >Description</span
      ><p
        class="mt-8 text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-blue-950"
      >
        All pages
      </p>
    </div><div
      class="grid grid-cols-2 gap-12 md:grid-cols-3 lg:grid-cols-5 mt-10 border-t text-gray-900"
    >
      <div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-base font-medium text-blue-950">Landing Pages</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/landingpages/index-one"
            >Landing Page One
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/landingpages/index-two"
            >Landing Page Two
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/landingpages/index-three"
            >Landing Page Three
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/infopages/about"
            >About
          </a><p class="mt-12 text-base font-medium text-blue-950">Jobs</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/careers"
          >
            Careers Home
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/careers/job/frontend-web-engineer"
            >Job Details
          </a><p class="mt-12 text-base font-medium text-blue-950">
            Customers
          </p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/customers/customers"
            >Customers hom
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/customers/case-study"
            >Case study
          </a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-base font-medium text-blue-950">Utility Pages</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/infopages/status"
            >Status
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/infopages/terms"
            >Terms Of use
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/infopages/privacy"
            >Privacy Policy
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/infopages/coming-soon"
            >Coming Soon
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/404"
            >404
          </a><p class="mt-12 text-base font-medium text-blue-950">
            Integrations
          </p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/integrations"
            >Integrations Home
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/integrations/figma"
            >Integrations Details
          </a><p class="mt-12 text-base font-medium text-blue-950">
            System Pages
          </p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/system/style-guide"
            >Style Guide
          </a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-base font-medium text-blue-950">Components</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/components/all-features"
            >All Features
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/components/all-pricing"
            >All Pricing Tables
          </a><p class="mt-12 text-base font-medium text-blue-950">Blog</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/blog/blog-one"
            >Blog
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/blog/1"
            >Blog Post
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/blog/tag"
            >Tag Home
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/blog/tag/digital"
            >Tag Details
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/rss.xml"
            >RSS
          </a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-base font-medium text-blue-950">Forms</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/forms/contact"
            >Contact
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/contact-two"
            >Contact two
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/submit"
            >Submit
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/login"
            >Login
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/signup"
            >Sign up
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/forgot"
            >Forgot Password
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/forms/reset"
            >Reset Password
          </a>
        </div>
      </div><div class="mt-10 text-sm">
        <div class="flex flex-col justify-start">
          <p class="text-base font-medium text-blue-950">Support</p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/help"
            >Help Center
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/help/category"
            >Single Category
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/help/details"
            >Article
          </a><p class="mt-12 text-base font-medium text-blue-950">
            Changelog
          </p><a
            class="mt-4 text-sm  hover:text-blue-600"
            href="/changelog"
            >Changelog Home
          </a><a
            class="mt-2 text-sm  hover:text-blue-600"
            href="/changelog/1"
          >
            Changelog Details
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
