<section>
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide text-blue-600 uppercase"
        >Description</span
      ><p
        class="mt-8 text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-blue-950"
      >
        All pages
      </p>
    </div>
    <div
      class="grid grid-cols-2 gap-12 mt-10 text-sm tracking-tight text-gray-700 border-t md:grid-cols-3 lg:grid-cols-4  xl:grid-cols-5"
    >
      <div class="mt-10">
        <div class="flex flex-col justify-start">
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Landing Pages
          </p><a class="mt-4 hover:text-blue-700" href="/landingpages/index-one"
            >Landing Page One
          </a><a class="mt-2 hover:text-blue-700" href="/landingpages/index-two"
            >Landing Page Two
          </a><a
            class="mt-2 hover:text-blue-700"
            href="/landingpages/index-three"
            >Landing Page Three
          </a><a class="mt-2 hover:text-blue-700" href="/infopages/about"
            >About
          </a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Jobs
          </p><a class="mt-4 hover:text-blue-700" href="/jobs/all-jobs">
            Jobs Home
          </a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Customers
          </p><a class="mt-4 hover:text-blue-700" href="/customers/all-customers"
            >Customers home
          </a><a class="mt-2 hover:text-blue-700" href="/customers/case-study"
            >Case study
          </a>
        </div>
      </div><div class="mt-10">
        <div class="flex flex-col justify-start">
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Utility Pages
          </p>
          <a class="mt-4 hover:text-blue-700" href="/infopages/terms"
            >Terms Of use
          </a><a class="mt-2 hover:text-blue-700" href="/infopages/privacy"
            >Privacy Policy
          </a><a class="mt-2 hover:text-blue-700" href="/infopages/coming-soon"
            >Coming Soon
          </a><a class="mt-2 hover:text-blue-700" href="/404">404</a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Integrations
          </p><a class="mt-4 hover:text-blue-700" href="/integrations/all-integrations"
            >Integrations
          </a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            System Pages
          </p><a class="mt-4 hover:text-blue-700" href="/system/style-guide"
            >Style Guide
          </a>
        </div>
      </div><div class="mt-10">
        <div class="flex flex-col justify-start">
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Components
          </p><a
            class="mt-4 hover:text-blue-700"
            href="/components/all-features"
            >All Features
          </a><a class="mt-2 hover:text-blue-700" href="/components/all-pricing"
            >All Pricing Tables
          </a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Blog
          </p><a class="mt-4 hover:text-blue-700" href="/blog/blog-one"
            >Blog
          </a><a class="mt-2 hover:text-blue-700" href="/blog/1">Blog Post</a><a
            class="mt-2 hover:text-blue-700"
            href="/tags"
            >Tag Home
          </a><a class="mt-2 hover:text-blue-700" href="/tags/Tailwind"
            >Tag Details
          </a><a class="mt-2 hover:text-blue-700" href="/rss.xml">RSS</a>
        </div>
      </div><div class="mt-10">
        <div class="flex flex-col justify-start">
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Forms
          </p><a class="mt-4 hover:text-blue-700" href="/forms/contact"
            >Contact
          </a><a class="mt-2 hover:text-blue-700" href="/forms/login"
            >Login
          </a><a class="mt-2 hover:text-blue-700" href="/forms/signup"
            >Sign up
          </a><a class="mt-2 hover:text-blue-700" href="/forms/reset"
            >Reset Password
          </a>
        </div>
      </div><div class="mt-10">
        <div class="flex flex-col justify-start">
          <p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Support
          </p>
          <a class="mt-4 hover:text-blue-700" href="/help/help-home">Help Center</a><a
            class="mt-2 hover:text-blue-700"
            href="/help/category"
            >Single Category
          </a>
          <a class="mt-2 hover:text-blue-700" href="/help/helpcenter-category"
            >Article
          </a><p
            class="mt-12 font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Changelog
          </p><a class="mt-4 hover:text-blue-700" href="/changelog/changelog-home"
            >Changelog Home
          </a><a class="mt-2 hover:text-blue-700" href="/changelog/changelog-details">
            Changelog Details
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
