<section>
  <div class="px-8 py-12 mx-auto md:px-12     max-w-7xl lg:py-24">
    <div>
      <p
        class="text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-blue-900"
      >
        Style guide
      </p>
    </div><div class="mt-12 w-full">
      <div class="border-gray-300 border-b pb-5">
        <h3 class="text-black font-semibold text-base">
          Typography: <span class="text-blue-500"> Inter</span>
        </h3>
      </div><div class="py-3 space-y-6 mt-12">
        <div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Display</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span
              class="text-4xl font-semibold lg:text-6xl tracking-tighter text-blue-900"
              >Display</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Header 1</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span class="text-4xl font-semibold tracking-tighter text-blue-900"
              >Header 1</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Link</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span class="text-blue-500 hover:text-blue-900 text-sm underline"
              >Link text</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Subtitle</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span class="text-base font-medium text-blue-900"
              >Subtitle text</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Paragraph</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span class="text-sm text-gray-500"
              >Previously, domains had to be removed from a project before being
              added to a new one. With this update, if you attempt to move a
              live domain to a new project, a prompt will appear offering to
              move the in-use domain and all associated redirects to the
              selected project.</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Caption</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <span class="text-gray-500 text-xs">Picture about somethign</span>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">Code</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <code class="text-gray-500 text-xs font-mono prose"
              >tailwind.config.js</code>
          </div>
        </div><div class="grid grid-cols-3 items-end lg:grid-cols-4">
          <div><span class="text-gray-500 text-sm">List</span></div><div
            class="col-span-2 lg:col-span-3"
          >
            <ul class="prose-sm text-gray-500 list-disc" role="list">
              <li>Next.js and/or Nuxt.js</li><li>CReact Native .</li><li>
                AWS and/or Firebase
              </li><li>Familiarity with noSQL databases</li>
            </ul>
          </div>
        </div>
      </div><div class="border-gray-300 border-b pb-5 lg:mt-24 mt-12">
        <h3 class="text-black font-semibold text-base">
          Color: <span class="text-blue-500">Custom color palette</span>
        </h3>
      </div><div class="grid grid-cols-2 mt-12 gap-2 lg:grid-cols-3">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 bg-white border rounded-lg">
          </div><div
            class="lg:justify-center p-6 rounded-lg bg-gradient-to-t from-blue-800 via-blue-700 to-blue-500"
          >
          </div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-blue-50"></div><div
            class="lg:justify-center p-6 bg-blue-100"
          >
          </div><div class="lg:justify-center p-6 bg-blue-200"></div><div
            class="lg:justify-center p-6 bg-blue-300"
          >
          </div><div class="lg:justify-center p-6 bg-blue-400"></div><div
            class="lg:justify-center p-6 bg-blue-500"
          >
          </div><div class="lg:justify-center p-6 bg-blue-600"></div><div
            class="lg:justify-center p-6 bg-blue-700"
          >
          </div><div class="lg:justify-center p-6 bg-blue-800"></div><div
            class="lg:justify-center p-6 bg-blue-900"
          >
          </div><div class="lg:justify-center p-6 rounded-b-lg bg-blue-950">
          </div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-gray-50"></div><div
            class="lg:justify-center p-6 bg-gray-100"
          >
          </div><div class="lg:justify-center p-6 bg-gray-200"></div><div
            class="lg:justify-center p-6 bg-gray-300"
          >
          </div><div class="lg:justify-center p-6 bg-gray-400"></div><div
            class="lg:justify-center p-6 bg-gray-500"
          >
          </div><div class="lg:justify-center p-6 bg-gray-600"></div><div
            class="lg:justify-center p-6 bg-gray-700"
          >
          </div><div class="lg:justify-center p-6 bg-gray-800"></div><div
            class="lg:justify-center p-6 bg-gray-900"
          >
          </div><div class="lg:justify-center p-6 rounded-b-lg bg-gray-950">
          </div>
        </div>
      </div><div class="border-gray-300 border-b pb-5 lg:mt-24 mt-12">
        <h3 class="text-black font-semibold text-base">Buttons:</h3>
      </div><div class="items-center inline-flex flex-wrap gap-2 mt-10 w-full">
        <a
          class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-blue-900 hover:bg-blue-800"
          href="#">Primary button</a
        ><a
          class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-gradient-to-b from-blue-500 hover:to-blue-700 to-blue-600"
          href="#">Secondary button</a
        ><a
          class="text-blue-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-blue-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
          href="#">Tertiary button</a
        ><div
          class="p-4 bg-gradient-to-b from-blue-500 hover:to-blue-700 rounded-xl to-blue-600"
        >
          <a
            class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-gradient-to-b from-white/[.105] hover:to-white/[.25] ring-1 ring-inset ring-white/20 to-white/[.15] shadow-sm"
            href="#">Transparent button</a>
        </div>
      </div>
    </div>
  </div>
</section>
