<section class="relative overflow-hidden">
  <div
    class="flex flex-col items-center pt-12 pb-6 lg:flex-row relative h-screen"
  >
    <div class="max-w-xl px-8 lg:pb-0 mx-auto">
      <p
        class="text-4xl font-semibold tracking-tighter text-blue-950 lg:text-7xl"
      >
        Reset your <span
          class="lg:block md:text-transparent md:bg-clip-text md:bg-gradient-to-r from-blue-500 to-indigo-600 py-2"
          >Password</span
        >
      </p>
      <form action="#" class="mt-12">
        <div class="flex-col flex gap-1 mt-8">
          <div class="col-span-full">
            <label name="password" class="sr-only"> Pssword</label><input
              type="password"
              class="block w-full h-12 px-4 py-3 placeholder-gray-500 bg-white border-0 rounded-lg appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset text-xs"
              placeholder="New password "

            />
          </div>
          <div class="col-span-full">
            <label name="confirm-password" class="sr-only">
              Pssword</label
            ><input
              type="password"
              class="block w-full h-12 px-4 py-3 placeholder-gray-500 bg-white border-0 rounded-lg appearance-none text-blue-500 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 focus:ring-inset text-xs"
              placeholder="Confirm new password "

            />
          </div>
        </div>
        <div class="col-span-full mt-2">
          <button
            type="submit"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white duration-200 rounded-full bg-gradient-to-b from-blue-500 to-blue-600 hover:to-blue-700 shadow-button shadow-blue-600/50 focus:ring-2 focus:ring-blue-950 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none w-full"
          >
            Submit your message
          </button>
        </div>
        <div class="mt-4 text-xs">
          <p class="text-gray-700">
            Already have an account?<a
              class="text-blue-700 hover:blue-950 ml-2"
              href="/forms/login">Sing in instead</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>

<h1 class="mt-8 text-4xl font-semibold tracking-tighter text-blue-950 md:text-6xl">
  Innovating financial
  <span class="md:block">solutions for tomorrow</span>
</h1>
