<footer class="overflow-hidden">
  <div class="max-w-screen-xl px-8 py-24 mx-auto md:px-12 lg:px-32">
    <div class="pt-12 border-t xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-blue-950">
        <div class="inline-flex items-center gap-3">
          <span>
            <svg
              class="h-4"
              viewBox="0 0 400 403"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1984_346)">
                <rect
                  x="156.024"
                  y="157.229"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="89.759"
                  y="0.60241"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="0.60241"
                  y="89.759"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="311.446"
                  y="89.759"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="311.446"
                  y="224.699"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="222.289"
                  y="313.855"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="89.759"
                  y="313.855"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="0.60241"
                  y="224.699"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="222.289"
                  y="0.60241"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
              </g>
              <defs>
                <clipPath id="clip0_1984_346">
                  <rect width="400" height="402.41" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span><p
            class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
          >
            Seebreeze
          </p>
        </div><p class="mt-2">
          <span class="mt-6 text-sm font-normal text-gray-700">
            Free and Premium UI Kit's <span class="lg:block"
              >built with Astro and Tailwind CSS.</span
            ></span
          >
        </p>
      </div>
      <div
        class="grid items-start grid-cols-2 gap-8 text-sm tracking-tight text-gray-700 mt-12font-mono lg:mt-0 xl:col-span-2"
      >
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div>
            <h3
              class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              Navigation
            </h3><ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="/" class="hover:text-blue-950"> Overview</a>
              </li><li>
                <a href="/system/styleguide" class="hover:text-blue-950">
                  Style Gudie
                </a>
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              Stay updated
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.lexingtonthemes.com/license"
                  class="hover:text-blue-950"
                >
                  License
                </a>
              </li><li>
                <a
                  href="https://www.lexingtonthemes.com/documentation"
                  class="hover:text-blue-950"
                >
                  Documentation
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
          <div>
            <h3
              class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              Socials
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://twitter.com/lexingtonthemes"
                  class="hover:text-blue-950"
                >
                  @lexingtonthemes
                </a>
              </li><li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="hover:text-blue-950"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="font-mono text-base font-medium tracking-tighter uppercase text-blue-950"
            >
              More Themes
            </h3><ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://lexingtonthemes.com/"
                  class="hover:text-blue-950"
                >
                  Lexington Themes
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer class="text-gray-700 bg-white border-t border-white/5 lg:p-8">
  <div
    class="items-center px-8 py-6 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl"
  >
    <nav class="flex flex-col gap-8 lg:flex-row">
      <p class="text-xs">© 2022 Unwrapped Design. All rights reserved</p><a
        class="relative px-3 py-2 -mx-3 -my-2 font-mono text-xs font-medium tracking-tight text-blue-700 uppercase hover:text-blue-950"
        href="/#process"><span class="relative z-10">Terms of use</span></a
      ><a
        class="relative px-3 py-2 -mx-3 -my-2 font-mono text-xs font-medium tracking-tight text-blue-700 uppercase hover:text-blue-950"
        href="/#benefits"
        ><span class="relative z-10">Responsible disclousure</span></a
      ><a
        class="relative px-3 py-2 -mx-3 -my-2 font-mono text-xs font-medium tracking-tight text-blue-700 uppercase hover:text-blue-950"
        href="/#pricing"><span class="relative z-10">Privacy policy</span></a
      >
    </nav><section class="mt-6 gap-x-8 gap-y-6">
      <div>
        <p class="text-sm lg:col-span-2">
          © 2023 Lexington Themes. All rights reserved. Lexington Themes is not
          affiliated with Astro or Tailwind Labs team, nor is it endorsed by or
          sponsored by this ones. A side project by <a
            href="https://michaelandreuzza.com/"
            class="font-mono text-xs font-medium tracking-tight text-blue-700 uppercase hover:text-blue-950"
            >Michael Andreuzza</a
          > This website was built with Astro &amp; Tailwind. Crafted in Åland
          Islands, Finland.
        </p>
      </div>
    </section>
  </div>
</footer>
