<footer class="overflow-hidden">
  <div class="px-8 pt-12  mx-auto md:px-12 lg:px-32 max-w-screen-xl">
    <div
      class="xl:grid xl:grid-cols-3 xl:gap-8 bg-white rounded-t-2xl p-8 lg:p-20 shadow-box shadow-gray-500/20"
    >
      <div class="text-black">
        <div class="inline-flex items-center gap-3">
          <span>
            <svg
              class="h-4"
              viewBox="0 0 400 403"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1984_346)">
                <rect
                  x="156.024"
                  y="157.229"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="89.759"
                  y="0.60241"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="0.60241"
                  y="89.759"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="311.446"
                  y="89.759"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="311.446"
                  y="224.699"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="222.289"
                  y="313.855"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="89.759"
                  y="313.855"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="0.60241"
                  y="224.699"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
                <rect
                  x="222.289"
                  y="0.60241"
                  width="87.9518"
                  height="87.9518"
                  fill="#4d59ee"
                  stroke="currentColor"
                  stroke-width="1.20482"></rect>
              </g>
              <defs>
                <clipPath id="clip0_1984_346">
                  <rect width="400" height="402.41" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span><p
            class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter"
          >
            Seebreeze
          </p>
        </div><p class="mt-2">
          <span class="mt-6 text-sm font-normal text-gray-700">
            Free and Premium UI Kit's <span class="lg:block"
              >built with Astro and Tailwind CSS.</span
            ></span
          >
        </p>
      </div>
      <div
        class="grid grid-cols-2 gap-8 mt-12  items-start lg:mt-0 xl:col-span-2 text-gray-700 text-xs"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 ">
          <div>
            <h3
              class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter"
            >
              Navigation
            </h3><ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="/" class="hover:text-black"> Overview</a>
              </li><li>
                <a href="/system/styleguide" class="hover:text-black">
                  Style Gudie
                </a>
              </li>
            </ul>
          </div>
          <div>
            <h3
              class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter"
            >
              Stay updated
            </h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://www.lexingtonthemes.com/license"
                  class="hover:text-black"
                >
                  License
                </a>
              </li><li>
                <a
                  href="https://www.lexingtonthemes.com/documentation"
                  class="hover:text-black"
                >
                  Documentation
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div >
            <h3
              class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter"
            >
              Socials
            </h3><ul role="list" class="mt-4 space-y-2">
              <li>
                <a
                  href="https://twitter.com/lexingtonthemes"
                  class="hover:text-black"
                >
                  @lexingtonthemes
                </a>
              </li><li>
                <a
                  href="https://twitter.com/Mike_Andreuzza"
                  class="hover:text-black"
                >
                  @Mike_Andreuzza
                </a>
              </li>
            </ul>
          </div>
          <div >
            <h3
              class="text-base font-medium text-blue-950 font-mono uppercase tracking-tighter"
            >
              More Themes
            </h3><ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://lexingtonthemes.com/" class="hover:text-black">
                  Lexington Themes
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
